USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 7/8/2026 10:54:26 PM ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[Ad]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ad](
	[ad_id] [int] NOT NULL,
	[phone_number] [nvarchar](11) NOT NULL,
	[cash_price] [decimal](15, 2) NULL,
	[is_negitiable] [int] NOT NULL,
	[installment_count] [int] NULL,
	[installment_due_date] [date] NULL,
	[delivery_date] [date] NULL,
	[installment_amount] [decimal](15, 2) NULL,
	[description] [nvarchar](500) NULL,
	[media_id] [int] NOT NULL,
	[production_year] [date] NULL,
	[is_new] [bit] NOT NULL,
	[city_id] [int] NOT NULL,
	[neighborhood] [nvarchar](50) NULL,
	[mileage] [int] NULL,
	[color_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
	[model_id] [int] NULL,
	[vehicle_type_id] [int] NOT NULL,
 CONSTRAINT [PK_Ad] PRIMARY KEY CLUSTERED 
(
	[ad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdStatus]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdStatus](
	[ad_status_id] [int] IDENTITY(1,1) NOT NULL,
	[ad_status_name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_AdStatus] PRIMARY KEY CLUSTERED 
(
	[ad_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BodyCondition]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BodyCondition](
	[body_condition_id] [int] IDENTITY(1,1) NOT NULL,
	[body_condition_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BodyCondition] PRIMARY KEY CLUSTERED 
(
	[body_condition_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brand_id] [int] NOT NULL,
	[brand_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[ad_id] [int] NOT NULL,
	[trim] [nvarchar](50) NULL,
	[interior_color_id] [int] NULL,
	[country_id] [int] NOT NULL,
	[body_condition_id] [int] NULL,
	[gearbox_id] [int] NULL,
	[car_type_id] [int] NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[ad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarFinder]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarFinder](
	[search_id] [int] NOT NULL,
	[phone_number] [nvarchar](11) NOT NULL,
	[search_name] [nvarchar](50) NULL,
	[min_price_filter] [decimal](15, 2) NULL,
	[max_price_filter] [decimal](15, 2) NULL,
	[create_date] [datetime] NULL,
	[vehicle_type_id_filter] [int] NULL,
	[gearbox_id_filter] [int] NULL,
	[car_type_id_filter] [int] NULL,
	[province_id_filter] [int] NULL,
	[city_id_filter] [int] NULL,
	[is_new_filter] [bit] NULL,
 CONSTRAINT [PK_CarFinder] PRIMARY KEY CLUSTERED 
(
	[search_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarType]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarType](
	[car_type_id] [int] IDENTITY(1,1) NOT NULL,
	[car_type_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CarType] PRIMARY KEY CLUSTERED 
(
	[car_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[city_id] [int] NOT NULL,
	[city_name] [nvarchar](50) NOT NULL,
	[province_id] [int] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[color_id] [int] NOT NULL,
	[color_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[country_id] [int] NOT NULL,
	[country_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuelType]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelType](
	[fuel_type_id] [int] IDENTITY(1,1) NOT NULL,
	[fuel_type_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FuelType] PRIMARY KEY CLUSTERED 
(
	[fuel_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gearbox]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gearbox](
	[gearbox_id] [int] IDENTITY(1,1) NOT NULL,
	[gearbox_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gearbox] PRIMARY KEY CLUSTERED 
(
	[gearbox_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyVehicle]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyVehicle](
	[ad_id] [int] NOT NULL,
	[heavy_vehicle_desc] [nvarchar](50) NULL,
 CONSTRAINT [PK_HeavyVehicle] PRIMARY KEY CLUSTERED 
(
	[ad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[media_id] [int] NOT NULL,
	[media_url] [nvarchar](50) NOT NULL,
	[upload_date] [date] NULL,
 CONSTRAINT [PK_Media] PRIMARY KEY CLUSTERED 
(
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[model_id] [int] NOT NULL,
	[model_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Model] PRIMARY KEY CLUSTERED 
(
	[model_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motor]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motor](
	[ad_id] [int] NOT NULL,
	[fuel_type_id] [int] NULL,
	[gearbox_id] [int] NULL,
	[engine_capacity] [int] NULL,
 CONSTRAINT [PK_Motor] PRIMARY KEY CLUSTERED 
(
	[ad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceEstimate]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceEstimate](
	[estimate_id] [int] NOT NULL,
	[car_id] [int] NOT NULL,
	[estimate_price] [decimal](15, 2) NULL,
 CONSTRAINT [PK_PriceEstimate] PRIMARY KEY CLUSTERED 
(
	[estimate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[province_id] [int] NOT NULL,
	[province_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[phone_number] [nvarchar](11) NOT NULL,
	[my_ads_status_id] [int] NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleType]    Script Date: 7/8/2026 10:54:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleType](
	[vehicle_type_id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_type_name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_VehicleType] PRIMARY KEY CLUSTERED 
(
	[vehicle_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ad] ([ad_id], [phone_number], [cash_price], [is_negitiable], [installment_count], [installment_due_date], [delivery_date], [installment_amount], [description], [media_id], [production_year], [is_new], [city_id], [neighborhood], [mileage], [color_id], [brand_id], [model_id], [vehicle_type_id]) VALUES (2, N'09122222222', CAST(3200000000.00 AS Decimal(15, 2)), 0, NULL, NULL, CAST(N'2026-05-01' AS Date), NULL, N'BMW 320i مدل ۲۰۲۵ صفر کیلومتر، گارانتی رسمی', 2, CAST(N'2025-01-10' AS Date), 1, 2, N'خواجو', 0, 2, 3, 11, 1)
INSERT [dbo].[Ad] ([ad_id], [phone_number], [cash_price], [is_negitiable], [installment_count], [installment_due_date], [delivery_date], [installment_amount], [description], [media_id], [production_year], [is_new], [city_id], [neighborhood], [mileage], [color_id], [brand_id], [model_id], [vehicle_type_id]) VALUES (3, N'09123333333', CAST(850000000.00 AS Decimal(15, 2)), 1, 24, CAST(N'2026-10-01' AS Date), CAST(N'2026-04-15' AS Date), CAST(37000000.00 AS Decimal(15, 2)), N'تویوتا کرولا ۲۰۲۰، استیج، کارکرد ۴۵ هزار کیلومتر', 3, CAST(N'2020-03-20' AS Date), 0, 3, N'معالی‌آباد', 45000, 3, 5, 15, 1)
GO
SET IDENTITY_INSERT [dbo].[AdStatus] ON 

INSERT [dbo].[AdStatus] ([ad_status_id], [ad_status_name]) VALUES (1, N'Active')
INSERT [dbo].[AdStatus] ([ad_status_id], [ad_status_name]) VALUES (2, N'Pending')
INSERT [dbo].[AdStatus] ([ad_status_id], [ad_status_name]) VALUES (3, N'Sold')
SET IDENTITY_INSERT [dbo].[AdStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[BodyCondition] ON 

INSERT [dbo].[BodyCondition] ([body_condition_id], [body_condition_name]) VALUES (1, N'Excellent')
INSERT [dbo].[BodyCondition] ([body_condition_id], [body_condition_name]) VALUES (2, N'Good')
INSERT [dbo].[BodyCondition] ([body_condition_id], [body_condition_name]) VALUES (3, N'Fair')
SET IDENTITY_INSERT [dbo].[BodyCondition] OFF
GO
INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (1, N'ایران خودرو')
INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (2, N'سایپا')
INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (3, N'ب‌ام‌و')
GO
INSERT [dbo].[Car] ([ad_id], [trim], [interior_color_id], [country_id], [body_condition_id], [gearbox_id], [car_type_id]) VALUES (1, N'V8', 2, 1, 2, 1, 5)
INSERT [dbo].[Car] ([ad_id], [trim], [interior_color_id], [country_id], [body_condition_id], [gearbox_id], [car_type_id]) VALUES (2, N'M Sport', 1, 2, 1, 2, 1)
INSERT [dbo].[Car] ([ad_id], [trim], [interior_color_id], [country_id], [body_condition_id], [gearbox_id], [car_type_id]) VALUES (3, N'Leather', 3, 3, 2, 2, 1)
GO
INSERT [dbo].[CarFinder] ([search_id], [phone_number], [search_name], [min_price_filter], [max_price_filter], [create_date], [vehicle_type_id_filter], [gearbox_id_filter], [car_type_id_filter], [province_id_filter], [city_id_filter], [is_new_filter]) VALUES (1, N'09121111111', N'جستجوی خودرو در تهران', CAST(0.00 AS Decimal(15, 2)), CAST(1000000000.00 AS Decimal(15, 2)), CAST(N'2026-01-20T10:30:00.000' AS DateTime), 1, NULL, NULL, 1, 1, NULL)
INSERT [dbo].[CarFinder] ([search_id], [phone_number], [search_name], [min_price_filter], [max_price_filter], [create_date], [vehicle_type_id_filter], [gearbox_id_filter], [car_type_id_filter], [province_id_filter], [city_id_filter], [is_new_filter]) VALUES (2, N'09122222222', N'خودروهای اتوماتیک اصفهان', CAST(0.00 AS Decimal(15, 2)), CAST(2000000000.00 AS Decimal(15, 2)), CAST(N'2026-01-25T14:20:00.000' AS DateTime), 1, 2, NULL, 2, 2, NULL)
INSERT [dbo].[CarFinder] ([search_id], [phone_number], [search_name], [min_price_filter], [max_price_filter], [create_date], [vehicle_type_id_filter], [gearbox_id_filter], [car_type_id_filter], [province_id_filter], [city_id_filter], [is_new_filter]) VALUES (3, N'09123333333', N'بی‌ام‌و جدید', CAST(0.00 AS Decimal(15, 2)), CAST(5000000000.00 AS Decimal(15, 2)), CAST(N'2026-02-01T09:15:00.000' AS DateTime), 1, 2, 1, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[CarType] ON 

INSERT [dbo].[CarType] ([car_type_id], [car_type_name]) VALUES (1, N'Sedan')
INSERT [dbo].[CarType] ([car_type_id], [car_type_name]) VALUES (2, N'SUV')
INSERT [dbo].[CarType] ([car_type_id], [car_type_name]) VALUES (3, N'Coupe')
SET IDENTITY_INSERT [dbo].[CarType] OFF
GO
INSERT [dbo].[City] ([city_id], [city_name], [province_id]) VALUES (1, N'تهران', 1)
INSERT [dbo].[City] ([city_id], [city_name], [province_id]) VALUES (2, N'اصفهان', 2)
INSERT [dbo].[City] ([city_id], [city_name], [province_id]) VALUES (3, N'شیراز', 3)
GO
INSERT [dbo].[Color] ([color_id], [color_name]) VALUES (1, N'سفید')
INSERT [dbo].[Color] ([color_id], [color_name]) VALUES (2, N'مشکی')
INSERT [dbo].[Color] ([color_id], [color_name]) VALUES (3, N'نقره‌ای')
GO
INSERT [dbo].[Country] ([country_id], [country_name]) VALUES (1, N'ایران')
INSERT [dbo].[Country] ([country_id], [country_name]) VALUES (2, N'آلمان')
INSERT [dbo].[Country] ([country_id], [country_name]) VALUES (3, N'ژاپن')
GO
SET IDENTITY_INSERT [dbo].[FuelType] ON 

INSERT [dbo].[FuelType] ([fuel_type_id], [fuel_type_name]) VALUES (1, N'Petrol')
INSERT [dbo].[FuelType] ([fuel_type_id], [fuel_type_name]) VALUES (2, N'Diesel')
INSERT [dbo].[FuelType] ([fuel_type_id], [fuel_type_name]) VALUES (3, N'Electric')
SET IDENTITY_INSERT [dbo].[FuelType] OFF
GO
SET IDENTITY_INSERT [dbo].[Gearbox] ON 

INSERT [dbo].[Gearbox] ([gearbox_id], [gearbox_name]) VALUES (1, N'Manual')
INSERT [dbo].[Gearbox] ([gearbox_id], [gearbox_name]) VALUES (2, N'Automatic')
INSERT [dbo].[Gearbox] ([gearbox_id], [gearbox_name]) VALUES (3, N'CVT')
SET IDENTITY_INSERT [dbo].[Gearbox] OFF
GO
INSERT [dbo].[HeavyVehicle] ([ad_id], [heavy_vehicle_desc]) VALUES (5, N'کامیون ۱۸ چرخ، سیستم ترمز ABS، ظرفیت ۲۰ تن')
GO
INSERT [dbo].[Media] ([media_id], [media_url], [upload_date]) VALUES (1, N'/images/car1.jpg', CAST(N'2026-01-15' AS Date))
INSERT [dbo].[Media] ([media_id], [media_url], [upload_date]) VALUES (2, N'/images/car2.jpg', CAST(N'2026-01-20' AS Date))
INSERT [dbo].[Media] ([media_id], [media_url], [upload_date]) VALUES (3, N'/images/car3.jpg', CAST(N'2026-02-01' AS Date))
GO
INSERT [dbo].[Model] ([model_id], [model_name]) VALUES (1, N'پژو ۲۰۶')
INSERT [dbo].[Model] ([model_id], [model_name]) VALUES (2, N'پژو ۲۰۷')
INSERT [dbo].[Model] ([model_id], [model_name]) VALUES (3, N'پژو ۴۰۵')
GO
INSERT [dbo].[Motor] ([ad_id], [fuel_type_id], [gearbox_id], [engine_capacity]) VALUES (4, 1, 1, NULL)
INSERT [dbo].[Motor] ([ad_id], [fuel_type_id], [gearbox_id], [engine_capacity]) VALUES (9, 1, 1, NULL)
INSERT [dbo].[Motor] ([ad_id], [fuel_type_id], [gearbox_id], [engine_capacity]) VALUES (11, 7, 6, NULL)
GO
INSERT [dbo].[PriceEstimate] ([estimate_id], [car_id], [estimate_price]) VALUES (1, 1, CAST(310000000.00 AS Decimal(15, 2)))
INSERT [dbo].[PriceEstimate] ([estimate_id], [car_id], [estimate_price]) VALUES (2, 2, CAST(3150000000.00 AS Decimal(15, 2)))
INSERT [dbo].[PriceEstimate] ([estimate_id], [car_id], [estimate_price]) VALUES (3, 3, CAST(830000000.00 AS Decimal(15, 2)))
GO
INSERT [dbo].[Province] ([province_id], [province_name]) VALUES (1, N'تهران')
INSERT [dbo].[Province] ([province_id], [province_name]) VALUES (2, N'اصفهان')
INSERT [dbo].[Province] ([province_id], [province_name]) VALUES (3, N'فارس')
GO
INSERT [dbo].[UserAccount] ([phone_number], [my_ads_status_id]) VALUES (N'09120000000', 1)
INSERT [dbo].[UserAccount] ([phone_number], [my_ads_status_id]) VALUES (N'09121111111', 1)
INSERT [dbo].[UserAccount] ([phone_number], [my_ads_status_id]) VALUES (N'09122222222', 1)
GO
SET IDENTITY_INSERT [dbo].[VehicleType] ON 

INSERT [dbo].[VehicleType] ([vehicle_type_id], [vehicle_type_name]) VALUES (1, N'Car')
INSERT [dbo].[VehicleType] ([vehicle_type_id], [vehicle_type_name]) VALUES (2, N'Motorcycle')
INSERT [dbo].[VehicleType] ([vehicle_type_id], [vehicle_type_name]) VALUES (3, N'HeavyVehicle')
SET IDENTITY_INSERT [dbo].[VehicleType] OFF
GO
ALTER TABLE [dbo].[Ad] ADD  DEFAULT ((1)) FOR [vehicle_type_id]
GO
ALTER TABLE [dbo].[City] ADD  DEFAULT ((0)) FOR [province_id]
GO
ALTER TABLE [dbo].[Ad]  WITH CHECK ADD  CONSTRAINT [FK_Ad_Ad] FOREIGN KEY([phone_number])
REFERENCES [dbo].[UserAccount] ([phone_number])
GO
ALTER TABLE [dbo].[Ad] CHECK CONSTRAINT [FK_Ad_Ad]
GO
ALTER TABLE [dbo].[Ad]  WITH CHECK ADD  CONSTRAINT [FK_Ad_Brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[Ad] CHECK CONSTRAINT [FK_Ad_Brand]
GO
ALTER TABLE [dbo].[Ad]  WITH CHECK ADD  CONSTRAINT [FK_Ad_City] FOREIGN KEY([city_id])
REFERENCES [dbo].[City] ([city_id])
GO
ALTER TABLE [dbo].[Ad] CHECK CONSTRAINT [FK_Ad_City]
GO
ALTER TABLE [dbo].[Ad]  WITH CHECK ADD  CONSTRAINT [FK_Ad_Color] FOREIGN KEY([color_id])
REFERENCES [dbo].[Color] ([color_id])
GO
ALTER TABLE [dbo].[Ad] CHECK CONSTRAINT [FK_Ad_Color]
GO
ALTER TABLE [dbo].[Ad]  WITH CHECK ADD  CONSTRAINT [FK_Ad_Model] FOREIGN KEY([model_id])
REFERENCES [dbo].[Model] ([model_id])
GO
ALTER TABLE [dbo].[Ad] CHECK CONSTRAINT [FK_Ad_Model]
GO
ALTER TABLE [dbo].[Ad]  WITH CHECK ADD  CONSTRAINT [FK_Ad_VehicleType] FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[VehicleType] ([vehicle_type_id])
GO
ALTER TABLE [dbo].[Ad] CHECK CONSTRAINT [FK_Ad_VehicleType]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_Ad] FOREIGN KEY([ad_id])
REFERENCES [dbo].[Ad] ([ad_id])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_Ad]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_BodyCondition] FOREIGN KEY([body_condition_id])
REFERENCES [dbo].[BodyCondition] ([body_condition_id])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_BodyCondition]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_CarType] FOREIGN KEY([car_type_id])
REFERENCES [dbo].[CarType] ([car_type_id])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_CarType]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_Country] FOREIGN KEY([country_id])
REFERENCES [dbo].[Country] ([country_id])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_Country]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_Gearbox] FOREIGN KEY([gearbox_id])
REFERENCES [dbo].[Gearbox] ([gearbox_id])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_Gearbox]
GO
ALTER TABLE [dbo].[CarFinder]  WITH CHECK ADD  CONSTRAINT [FK_CarFinder_CarType] FOREIGN KEY([car_type_id_filter])
REFERENCES [dbo].[CarType] ([car_type_id])
GO
ALTER TABLE [dbo].[CarFinder] CHECK CONSTRAINT [FK_CarFinder_CarType]
GO
ALTER TABLE [dbo].[CarFinder]  WITH CHECK ADD  CONSTRAINT [FK_CarFinder_City] FOREIGN KEY([city_id_filter])
REFERENCES [dbo].[City] ([city_id])
GO
ALTER TABLE [dbo].[CarFinder] CHECK CONSTRAINT [FK_CarFinder_City]
GO
ALTER TABLE [dbo].[CarFinder]  WITH CHECK ADD  CONSTRAINT [FK_CarFinder_Gearbox] FOREIGN KEY([gearbox_id_filter])
REFERENCES [dbo].[Gearbox] ([gearbox_id])
GO
ALTER TABLE [dbo].[CarFinder] CHECK CONSTRAINT [FK_CarFinder_Gearbox]
GO
ALTER TABLE [dbo].[CarFinder]  WITH CHECK ADD  CONSTRAINT [FK_CarFinder_Province] FOREIGN KEY([province_id_filter])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[CarFinder] CHECK CONSTRAINT [FK_CarFinder_Province]
GO
ALTER TABLE [dbo].[CarFinder]  WITH CHECK ADD  CONSTRAINT [FK_CarFinder_VehicleType] FOREIGN KEY([vehicle_type_id_filter])
REFERENCES [dbo].[VehicleType] ([vehicle_type_id])
GO
ALTER TABLE [dbo].[CarFinder] CHECK CONSTRAINT [FK_CarFinder_VehicleType]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Province] FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Province]
GO
ALTER TABLE [dbo].[HeavyVehicle]  WITH CHECK ADD  CONSTRAINT [FK_HeavyVehicle_Ad] FOREIGN KEY([ad_id])
REFERENCES [dbo].[Ad] ([ad_id])
GO
ALTER TABLE [dbo].[HeavyVehicle] CHECK CONSTRAINT [FK_HeavyVehicle_Ad]
GO
ALTER TABLE [dbo].[Motor]  WITH CHECK ADD  CONSTRAINT [FK_Motor_Ad] FOREIGN KEY([ad_id])
REFERENCES [dbo].[Ad] ([ad_id])
GO
ALTER TABLE [dbo].[Motor] CHECK CONSTRAINT [FK_Motor_Ad]
GO
ALTER TABLE [dbo].[Motor]  WITH CHECK ADD  CONSTRAINT [FK_Motor_FuelType] FOREIGN KEY([fuel_type_id])
REFERENCES [dbo].[FuelType] ([fuel_type_id])
GO
ALTER TABLE [dbo].[Motor] CHECK CONSTRAINT [FK_Motor_FuelType]
GO
ALTER TABLE [dbo].[Motor]  WITH CHECK ADD  CONSTRAINT [FK_Motor_Gearbox] FOREIGN KEY([gearbox_id])
REFERENCES [dbo].[Gearbox] ([gearbox_id])
GO
ALTER TABLE [dbo].[Motor] CHECK CONSTRAINT [FK_Motor_Gearbox]
GO
ALTER TABLE [dbo].[PriceEstimate]  WITH CHECK ADD  CONSTRAINT [FK_PriceEstimate_Car] FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([ad_id])
GO
ALTER TABLE [dbo].[PriceEstimate] CHECK CONSTRAINT [FK_PriceEstimate_Car]
GO
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD  CONSTRAINT [FK_UserAccount_AdStatus] FOREIGN KEY([my_ads_status_id])
REFERENCES [dbo].[AdStatus] ([ad_status_id])
GO
ALTER TABLE [dbo].[UserAccount] CHECK CONSTRAINT [FK_UserAccount_AdStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteLowestMileageAdAndShow]    Script Date: 7/8/2026 10:54:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========== پرسمان ۵ ==========
CREATE PROCEDURE [dbo].[sp_DeleteLowestMileageAdAndShow]
    @ProvinceName NVARCHAR(50),
    @BodyStatus1 NVARCHAR(50),
    @BodyStatus2 NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DECLARE @AdIdToDelete INT;
        SELECT TOP 1 @AdIdToDelete = a.ad_id
        FROM [dbo].[Ad] a
        INNER JOIN [dbo].[Car] car ON a.ad_id = car.ad_id
        INNER JOIN [dbo].[BodyCondition] bc ON car.body_condition_id = bc.body_condition_id
        INNER JOIN [dbo].[City] c ON a.city_id = c.city_id
        INNER JOIN [dbo].[Province] p ON c.province_id = p.province_id
        WHERE p.province_name = @ProvinceName
            AND a.vehicle_type_id = 1
            AND (bc.body_condition_name = @BodyStatus1 OR (@BodyStatus2 IS NOT NULL AND bc.body_condition_name = @BodyStatus2))
        ORDER BY a.mileage ASC;

        IF @AdIdToDelete IS NOT NULL
        BEGIN
            DELETE FROM [dbo].[PriceEstimate] WHERE [car_id] = @AdIdToDelete;
            DELETE FROM [dbo].[Car] WHERE [ad_id] = @AdIdToDelete;
            DELETE FROM [dbo].[Motor] WHERE [ad_id] = @AdIdToDelete;
            DELETE FROM [dbo].[HeavyVehicle] WHERE [ad_id] = @AdIdToDelete;
            DELETE FROM [dbo].[Ad] WHERE [ad_id] = @AdIdToDelete;
        END

        COMMIT TRANSACTION;

        -- نمایش پرسمان ۴ با چهار ترتیب
        EXEC sp_GetOrderedAdsByProvinceAndBodyStatus @ProvinceName, @BodyStatus1, @BodyStatus2, 'Cheapest';
        EXEC sp_GetOrderedAdsByProvinceAndBodyStatus @ProvinceName, @BodyStatus1, @BodyStatus2, 'MostRecent';
        EXEC sp_GetOrderedAdsByProvinceAndBodyStatus @ProvinceName, @BodyStatus1, @BodyStatus2, 'NewestYear';
        EXEC sp_GetOrderedAdsByProvinceAndBodyStatus @ProvinceName, @BodyStatus1, @BodyStatus2, 'LowestMileage';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBrandsByCountryAndCities]    Script Date: 7/8/2026 10:54:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========== پرسمان ۸ ==========
CREATE PROCEDURE [dbo].[sp_GetBrandsByCountryAndCities]
    @CountryName NVARCHAR(50),
    @City1 NVARCHAR(50),
    @City2 NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT b.brand_id, b.brand_name
    FROM [dbo].[Brand] b
    INNER JOIN [dbo].[Ad] a ON b.brand_id = a.brand_id
    INNER JOIN [dbo].[Car] car ON a.ad_id = car.ad_id
    INNER JOIN [dbo].[Country] cnt ON car.country_id = cnt.country_id
    INNER JOIN [dbo].[City] c ON a.city_id = c.city_id
    WHERE cnt.country_name = @CountryName
    GROUP BY b.brand_id, b.brand_name
    HAVING COUNT(DISTINCT CASE WHEN c.city_name NOT IN (@City1, @City2) THEN c.city_id END) = 0
        AND COUNT(DISTINCT c.city_name) > 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCarsByExcludedColorChassisFuelProvince]    Script Date: 7/8/2026 10:54:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========== پرسمان ۹ ==========
CREATE PROCEDURE [dbo].[sp_GetCarsByExcludedColorChassisFuelProvince]
    @ExcludedColorName NVARCHAR(50),
    @ChassisTypeName NVARCHAR(50),
    @FuelTypeName NVARCHAR(50),
    @ProvinceName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        a.ad_id, a.phone_number, a.cash_price, a.mileage, a.production_year, a.is_new,
        b.brand_name, m.model_name, col.color_name, c.city_name, p.province_name,
        ct.car_type_name, ft.fuel_type_name, g.gearbox_name, bc.body_condition_name,
        car.trim, car.interior_color_id, cnt.country_name
    FROM [dbo].[Ad] a
    INNER JOIN [dbo].[Brand] b ON a.brand_id = b.brand_id
    LEFT JOIN [dbo].[Model] m ON a.model_id = m.model_id
    INNER JOIN [dbo].[Car] car ON a.ad_id = car.ad_id
    INNER JOIN [dbo].[CarType] ct ON car.car_type_id = ct.car_type_id
    INNER JOIN [dbo].[BodyCondition] bc ON car.body_condition_id = bc.body_condition_id
    INNER JOIN [dbo].[Color] col ON a.color_id = col.color_id
    INNER JOIN [dbo].[City] c ON a.city_id = c.city_id
    INNER JOIN [dbo].[Province] p ON c.province_id = p.province_id
    INNER JOIN [dbo].[Country] cnt ON car.country_id = cnt.country_id
    INNER JOIN [dbo].[Motor] mot ON a.ad_id = mot.ad_id
    INNER JOIN [dbo].[FuelType] ft ON mot.fuel_type_id = ft.fuel_type_id
    LEFT JOIN [dbo].[Gearbox] g ON car.gearbox_id = g.gearbox_id
    WHERE a.vehicle_type_id = 1
        AND col.color_name != @ExcludedColorName
        AND ct.car_type_name = @ChassisTypeName
        AND ft.fuel_type_name = @FuelTypeName
        AND p.province_name = @ProvinceName
    ORDER BY a.ad_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCarsByProvinceAndBodyStatus]    Script Date: 7/8/2026 10:54:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCarsByProvinceAndBodyStatus]
    @ProvinceName NVARCHAR(50),
    @BodyStatus1 NVARCHAR(50),
    @BodyStatus2 NVARCHAR(50) = NULL  -- پارامتر اختیاری برای وضعیت بدنه دوم
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- ============================================
        -- 1. نمایش برند، مدل و کارکرد خودروها بر اساس استان و وضعیت بدنه
        -- ============================================
        PRINT '============================================';
        PRINT N'لیست خودروهای استان ' + @ProvinceName + N' با وضعیت بدنه ' + @BodyStatus1;
        IF @BodyStatus2 IS NOT NULL
            PRINT N'و ' + @BodyStatus2;
        PRINT '============================================';
        
        SELECT 
            ROW_NUMBER() OVER (ORDER BY b.brand_name, ISNULL(m.model_name, N'')) AS RowNumber,
            b.brand_name AS Brand,
            ISNULL(m.model_name, N'نامشخص') AS Model,
            a.mileage AS Mileage,
            a.phone_number AS UserPhone,
            a.ad_id AS AdId,
            a.cash_price AS Price,
            YEAR(a.production_year) AS [Year],
            col.color_name AS Color,
            c.city_name AS City,
            CASE WHEN a.is_new = 1 THEN N'صفر' ELSE N'کارکرده' END AS [Status],
            bc.body_condition_name AS BodyCondition,
            a.description
        FROM [dbo].[Ad] a
        INNER JOIN [dbo].[Brand] b ON a.brand_id = b.brand_id
        LEFT JOIN [dbo].[Model] m ON a.model_id = m.model_id
        INNER JOIN [dbo].[Car] car ON a.ad_id = car.ad_id
        INNER JOIN [dbo].[BodyCondition] bc ON car.body_condition_id = bc.body_condition_id
        INNER JOIN [dbo].[Color] col ON a.color_id = col.color_id
        INNER JOIN [dbo].[City] c ON a.city_id = c.city_id
        INNER JOIN [dbo].[Province] p ON c.province_id = p.province_id
        WHERE p.province_name = @ProvinceName
            AND a.vehicle_type_id = 1  -- فقط خودروها
            AND (
                bc.body_condition_name = @BodyStatus1 
                OR (@BodyStatus2 IS NOT NULL AND bc.body_condition_name = @BodyStatus2)
            )
        ORDER BY b.brand_name, ISNULL(m.model_name, N'');

        -- ============================================
        -- 2. نمایش خلاصه آماری
        -- ============================================
        DECLARE @TotalCount INT;
        
        SELECT @TotalCount = COUNT(*)
        FROM [dbo].[Ad] a
        INNER JOIN [dbo].[Car] car ON a.ad_id = car.ad_id
        INNER JOIN [dbo].[BodyCondition] bc ON car.body_condition_id = bc.body_condition_id
        INNER JOIN [dbo].[City] c ON a.city_id = c.city_id
        INNER JOIN [dbo].[Province] p ON c.province_id = p.province_id
        WHERE p.province_name = @ProvinceName
            AND a.vehicle_type_id = 1
            AND (
                bc.body_condition_name = @BodyStatus1 
                OR (@BodyStatus2 IS NOT NULL AND bc.body_condition_name = @BodyStatus2)
            );
        
        PRINT '============================================';
        PRINT N'خلاصه آماری:';
        PRINT N'تعداد کل خودروهای یافت شده: ' + CAST(ISNULL(@TotalCount, 0) AS NVARCHAR(10));
        PRINT '============================================';
        
        -- بازگرداندن نتیجه به صورت جدول
        SELECT 
            @ProvinceName AS Province,
            @BodyStatus1 AS BodyStatus1,
            ISNULL(@BodyStatus2, N'') AS BodyStatus2,
            ISNULL(@TotalCount, 0) AS TotalCount;
            
    END TRY
    BEGIN CATCH
        -- نمایش خطا
        SELECT 
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_MESSAGE() AS ErrorMessage,
            N'خطا در دریافت اطلاعات' AS Message;
        
        PRINT '============================================';
        PRINT N'خطا در دریافت اطلاعات:';
        PRINT N'شماره خطا: ' + CAST(ERROR_NUMBER() AS NVARCHAR(10));
        PRINT N'پیام خطا: ' + ERROR_MESSAGE();
        PRINT '============================================';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMotorcyclesByBrandsAndCCAndPrice]    Script Date: 7/8/2026 10:54:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========== پرسمان ۶ ==========
CREATE PROCEDURE [dbo].[sp_GetMotorcyclesByBrandsAndCCAndPrice]
    @Brand1 NVARCHAR(50),
    @Brand2 NVARCHAR(50),
    @MaxCC INT,
    @MinPrice DECIMAL(15,2)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        a.ad_id, a.phone_number, a.cash_price, a.is_negitiable, a.installment_count,
        a.installment_due_date, a.delivery_date, a.installment_amount, a.description,
        a.production_year, a.is_new, a.mileage,
        b.brand_name, m.model_name, col.color_name, c.city_name, p.province_name,
        vt.vehicle_type_name, ft.fuel_type_name, g.gearbox_name,
        mot.engine_capacity
    FROM [dbo].[Ad] a
    INNER JOIN [dbo].[Brand] b ON a.brand_id = b.brand_id
    LEFT JOIN [dbo].[Model] m ON a.model_id = m.model_id
    INNER JOIN [dbo].[Motor] mot ON a.ad_id = mot.ad_id
    INNER JOIN [dbo].[FuelType] ft ON mot.fuel_type_id = ft.fuel_type_id
    INNER JOIN [dbo].[Gearbox] g ON mot.gearbox_id = g.gearbox_id
    INNER JOIN [dbo].[Color] col ON a.color_id = col.color_id
    INNER JOIN [dbo].[City] c ON a.city_id = c.city_id
    INNER JOIN [dbo].[Province] p ON c.province_id = p.province_id
    INNER JOIN [dbo].[VehicleType] vt ON a.vehicle_type_id = vt.vehicle_type_id
    WHERE a.vehicle_type_id = 2
        AND (b.brand_name = @Brand1 OR b.brand_name = @Brand2)
        AND mot.engine_capacity < @MaxCC
        AND a.cash_price > @MinPrice
    ORDER BY b.brand_name, a.cash_price;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrderedAdsByProvinceAndBodyStatus]    Script Date: 7/8/2026 10:54:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========== پرسمان ۴ ==========
CREATE PROCEDURE [dbo].[sp_GetOrderedAdsByProvinceAndBodyStatus]
    @ProvinceName NVARCHAR(50),
    @BodyStatus1 NVARCHAR(50),
    @BodyStatus2 NVARCHAR(50) = NULL,
    @OrderType NVARCHAR(20)  -- 'Cheapest', 'MostRecent', 'NewestYear', 'LowestMileage'
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        b.brand_name AS Brand,
        ISNULL(m.model_name, N'نامشخص') AS Model,
        a.mileage AS Mileage,
        a.phone_number AS UserPhone,
        a.ad_id AS AdId,
        a.cash_price AS Price,
        YEAR(a.production_year) AS [Year],
        col.color_name AS Color,
        c.city_name AS City,
        CASE WHEN a.is_new = 1 THEN N'صفر' ELSE N'کارکرده' END AS [Status],
        bc.body_condition_name AS BodyCondition,
        a.description
    FROM [dbo].[Ad] a
    INNER JOIN [dbo].[Brand] b ON a.brand_id = b.brand_id
    LEFT JOIN [dbo].[Model] m ON a.model_id = m.model_id
    INNER JOIN [dbo].[Car] car ON a.ad_id = car.ad_id
    INNER JOIN [dbo].[BodyCondition] bc ON car.body_condition_id = bc.body_condition_id
    INNER JOIN [dbo].[Color] col ON a.color_id = col.color_id
    INNER JOIN [dbo].[City] c ON a.city_id = c.city_id
    INNER JOIN [dbo].[Province] p ON c.province_id = p.province_id
    WHERE p.province_name = @ProvinceName
        AND a.vehicle_type_id = 1
        AND (bc.body_condition_name = @BodyStatus1 OR (@BodyStatus2 IS NOT NULL AND bc.body_condition_name = @BodyStatus2))
    ORDER BY 
        CASE WHEN @OrderType = 'Cheapest' THEN a.cash_price END,
        CASE WHEN @OrderType = 'MostRecent' THEN a.ad_id END DESC,
        CASE WHEN @OrderType = 'NewestYear' THEN a.production_year END DESC,
        CASE WHEN @OrderType = 'LowestMileage' THEN a.mileage END;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPriceRangeByBrandMileageBody]    Script Date: 7/8/2026 10:54:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========== پرسمان ۷ ==========
CREATE PROCEDURE [dbo].[sp_GetPriceRangeByBrandMileageBody]
    @BrandName NVARCHAR(50),
    @Mileage INT,
    @BodyStatusName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        MIN(pe.estimate_price) AS MinPrice,
        MAX(pe.estimate_price) AS MaxPrice,
        COUNT(*) AS CarCount
    FROM [dbo].[Ad] a
    INNER JOIN [dbo].[Brand] b ON a.brand_id = b.brand_id
    INNER JOIN [dbo].[Car] car ON a.ad_id = car.ad_id
    INNER JOIN [dbo].[BodyCondition] bc ON car.body_condition_id = bc.body_condition_id
    INNER JOIN [dbo].[PriceEstimate] pe ON car.ad_id = pe.car_id
    WHERE b.brand_name = @BrandName
        AND a.mileage = @Mileage
        AND bc.body_condition_name = @BodyStatusName
        AND a.vehicle_type_id = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCarAd]    Script Date: 7/8/2026 10:54:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertCarAd]
    @UserName NVARCHAR(50),
    @BrandName NVARCHAR(50),
    @ModelName NVARCHAR(50),
    @Year INT,
    @FuelTypeName NVARCHAR(50),
    @BodyStatusName NVARCHAR(50),
    @GearboxName NVARCHAR(50),
    @Mileage INT,
    @ColorName NVARCHAR(50),
    @ProvinceName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;

        -- متغیرهای مورد نیاز
        DECLARE @PhoneNumber NVARCHAR(11);
        DECLARE @BrandId INT;
        DECLARE @ModelId INT;
        DECLARE @FuelTypeId INT;
        DECLARE @BodyConditionId INT;
        DECLARE @GearboxId INT;
        DECLARE @ColorId INT;
        DECLARE @ProvinceId INT;
        DECLARE @CityId INT;
        DECLARE @AdId INT;
        DECLARE @MediaId INT;
        DECLARE @VehicleTypeId INT = 1; -- خودرو
        DECLARE @CountryId INT = 1; -- ایران (پیش‌فرض)
        DECLARE @CarTypeId INT = 1; -- سدان (پیش‌فرض)
        DECLARE @ProductionYear DATE;
        DECLARE @IsNew BIT = 0; -- پیش‌فرض کارکرده

        -- 1. دریافت شماره تلفن کاربر با userName
        SELECT @PhoneNumber = [phone_number] 
        FROM [dbo].[UserAccount] 
        WHERE [phone_number] = @UserName;
        
        -- اگر کاربر وجود نداشت، ایجاد کن
        IF @PhoneNumber IS NULL
        BEGIN
            SET @PhoneNumber = @UserName;
            INSERT INTO [dbo].[UserAccount] ([phone_number], [my_ads_status_id])
            VALUES (@PhoneNumber, 1); -- وضعیت فعال
        END

        -- 2. دریافت یا ایجاد برند
        SELECT @BrandId = [brand_id] 
        FROM [dbo].[Brand] 
        WHERE [brand_name] = @BrandName;
        
        IF @BrandId IS NULL
        BEGIN
            -- پیدا کردن حداکثر brand_id و اضافه کردن 1
            SELECT @BrandId = ISNULL(MAX([brand_id]), 0) + 1 FROM [dbo].[Brand];
            INSERT INTO [dbo].[Brand] ([brand_id], [brand_name])
            VALUES (@BrandId, @BrandName);
        END

        -- 3. دریافت یا ایجاد مدل
        SELECT @ModelId = [model_id] 
        FROM [dbo].[Model] 
        WHERE [model_name] = @ModelName;
        
        IF @ModelId IS NULL
        BEGIN
            SELECT @ModelId = ISNULL(MAX([model_id]), 0) + 1 FROM [dbo].[Model];
            INSERT INTO [dbo].[Model] ([model_id], [model_name])
            VALUES (@ModelId, @ModelName);
        END

        -- 4. دریافت یا ایجاد نوع سوخت
        SELECT @FuelTypeId = [fuel_type_id] 
        FROM [dbo].[FuelType] 
        WHERE [fuel_type_name] = @FuelTypeName;
        
        IF @FuelTypeId IS NULL
        BEGIN
            INSERT INTO [dbo].[FuelType] ([fuel_type_name])
            VALUES (@FuelTypeName);
            SET @FuelTypeId = SCOPE_IDENTITY();
        END

        -- 5. دریافت یا ایجاد وضعیت بدنه
        SELECT @BodyConditionId = [body_condition_id] 
        FROM [dbo].[BodyCondition] 
        WHERE [body_condition_name] = @BodyStatusName;
        
        IF @BodyConditionId IS NULL
        BEGIN
            INSERT INTO [dbo].[BodyCondition] ([body_condition_name])
            VALUES (@BodyStatusName);
            SET @BodyConditionId = SCOPE_IDENTITY();
        END

        -- 6. دریافت یا ایجاد گیربکس
        SELECT @GearboxId = [gearbox_id] 
        FROM [dbo].[Gearbox] 
        WHERE [gearbox_name] = @GearboxName;
        
        IF @GearboxId IS NULL
        BEGIN
            INSERT INTO [dbo].[Gearbox] ([gearbox_name])
            VALUES (@GearboxName);
            SET @GearboxId = SCOPE_IDENTITY();
        END

        -- 7. دریافت یا ایجاد رنگ
        SELECT @ColorId = [color_id] 
        FROM [dbo].[Color] 
        WHERE [color_name] = @ColorName;
        
        IF @ColorId IS NULL
        BEGIN
            SELECT @ColorId = ISNULL(MAX([color_id]), 0) + 1 FROM [dbo].[Color];
            INSERT INTO [dbo].[Color] ([color_id], [color_name])
            VALUES (@ColorId, @ColorName);
        END

        -- 8. دریافت استان
        SELECT @ProvinceId = [province_id] 
        FROM [dbo].[Province] 
        WHERE [province_name] = @ProvinceName;
        
        IF @ProvinceId IS NULL
        BEGIN
            SELECT @ProvinceId = ISNULL(MAX([province_id]), 0) + 1 FROM [dbo].[Province];
            INSERT INTO [dbo].[Province] ([province_id], [province_name])
            VALUES (@ProvinceId, @ProvinceName);
        END

        -- 9. دریافت یا ایجاد شهر (یک شهر پیش‌فرض برای استان)
        SELECT TOP 1 @CityId = [city_id] 
        FROM [dbo].[City] 
        WHERE [province_id] = @ProvinceId;
        
        IF @CityId IS NULL
        BEGIN
            SELECT @CityId = ISNULL(MAX([city_id]), 0) + 1 FROM [dbo].[City];
            INSERT INTO [dbo].[City] ([city_id], [city_name], [province_id])
            VALUES (@CityId, N'مرکز استان', @ProvinceId);
        END

        -- 10. ایجاد Media (یک رکورد پیش‌فرض)
        SELECT @MediaId = ISNULL(MAX([media_id]), 0) + 1 FROM [dbo].[Media];
        INSERT INTO [dbo].[Media] ([media_id], [media_url], [upload_date])
        VALUES (@MediaId, N'/images/default_car.jpg', GETDATE());

        -- 11. تولید ad_id جدید
        SELECT @AdId = ISNULL(MAX([ad_id]), 0) + 1 FROM [dbo].[Ad];

        -- 12. تبدیل سال به تاریخ (اول ژانویه همان سال)
        SET @ProductionYear = DATEFROMPARTS(@Year, 1, 1);

        -- 13. درج آگهی
        INSERT INTO [dbo].[Ad] (
            [ad_id],
            [phone_number],
            [cash_price],
            [is_negitiable],
            [installment_count],
            [installment_due_date],
            [delivery_date],
            [installment_amount],
            [description],
            [media_id],
            [production_year],
            [is_new],
            [city_id],
            [neighborhood],
            [mileage],
            [color_id],
            [brand_id],
            [model_id],
            [vehicle_type_id]
        ) VALUES (
            @AdId,
            @PhoneNumber,
            NULL, -- قیمت نقدی (خالی)
            1, -- قابل مذاکره (پیش‌فرض)
            NULL, -- تعداد اقساط (خالی)
            NULL, -- تاریخ سررسید اقساط (خالی)
            NULL, -- تاریخ تحویل (خالی)
            NULL, -- مبلغ قسط (خالی)
            CONCAT(N'آگهی فروش ', @BrandName, N' ', @ModelName, N' مدل ', @Year),
            @MediaId,
            @ProductionYear,
            @IsNew,
            @CityId,
            NULL, -- محله (خالی)
            @Mileage,
            @ColorId,
            @BrandId,
            @ModelId,
            @VehicleTypeId
        );

        -- 14. درج اطلاعات ماشین
        INSERT INTO [dbo].[Car] (
            [ad_id],
            [trim],
            [interior_color_id],
            [country_id],
            [body_condition_id],
            [gearbox_id],
            [car_type_id]
        ) VALUES (
            @AdId,
            NULL, -- trim (خالی)
            NULL, -- رنگ داخلی (خالی)
            @CountryId,
            @BodyConditionId,
            @GearboxId,
            @CarTypeId
        );

        -- 15. درج اطلاعات موتور (برای ماشین‌ها)
        INSERT INTO [dbo].[Motor] (
            [ad_id],
            [fuel_type_id],
            [gearbox_id]
        ) VALUES (
            @AdId,
            @FuelTypeId,
            @GearboxId
        );

        COMMIT TRANSACTION;

        -- بازگرداندن نتیجه
        SELECT 
            @AdId AS AdId,
            @PhoneNumber AS PhoneNumber,
            @BrandName AS Brand,
            @ModelName AS Model,
            @Year AS [Year],
            @FuelTypeName AS FuelType,
            @BodyStatusName AS BodyStatus,
            @GearboxName AS Gearbox,
            @Mileage AS Mileage,
            @ColorName AS Color,
            @ProvinceName AS Province,
            N'آگهی با موفقیت درج شد' AS Message;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        -- نمایش خطا
        SELECT 
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_MESSAGE() AS ErrorMessage,
            N'خطا در درج آگهی' AS Message;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageUserAds]    Script Date: 7/8/2026 10:54:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ManageUserAds]
    @UserName1 NVARCHAR(50),
    @UserName2 NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;

        -- ============================================
        -- 1. لیست آگهی‌های کاربر اول (قبل از حذف)
        -- ============================================
        PRINT '============================================';
        PRINT N'لیست آگهی‌های کاربر اول (قبل از حذف):';
        PRINT '============================================';
        
        SELECT 
            a.ad_id,
            a.phone_number AS UserName,
            b.brand_name AS Brand,
            ISNULL(m.model_name, N'نامشخص') AS Model,
            YEAR(a.production_year) AS [Year],
            vt.vehicle_type_name AS VehicleType,
            a.cash_price AS Price,
            a.mileage,
            col.color_name AS Color,
            c.city_name AS City,
            p.province_name AS Province,
            CASE WHEN a.is_new = 1 THEN N'صفر' ELSE N'کارکرده' END AS [Status],
            a.description
        FROM [dbo].[Ad] a
        INNER JOIN [dbo].[Brand] b ON a.brand_id = b.brand_id
        LEFT JOIN [dbo].[Model] m ON a.model_id = m.model_id
        INNER JOIN [dbo].[VehicleType] vt ON a.vehicle_type_id = vt.vehicle_type_id
        INNER JOIN [dbo].[Color] col ON a.color_id = col.color_id
        INNER JOIN [dbo].[City] c ON a.city_id = c.city_id
        INNER JOIN [dbo].[Province] p ON c.province_id = p.province_id
        WHERE a.phone_number = @UserName1
        ORDER BY a.ad_id;

        -- ============================================
        -- 2. لیست آگهی‌های کاربر دوم (قبل از حذف)
        -- ============================================
        PRINT '============================================';
        PRINT N'لیست آگهی‌های کاربر دوم (قبل از حذف):';
        PRINT '============================================';
        
        SELECT 
            a.ad_id,
            a.phone_number AS UserName,
            b.brand_name AS Brand,
            ISNULL(m.model_name, N'نامشخص') AS Model,
            YEAR(a.production_year) AS [Year],
            vt.vehicle_type_name AS VehicleType,
            a.cash_price AS Price,
            a.mileage,
            col.color_name AS Color,
            c.city_name AS City,
            p.province_name AS Province,
            CASE WHEN a.is_new = 1 THEN N'صفر' ELSE N'کارکرده' END AS [Status],
            a.description
        FROM [dbo].[Ad] a
        INNER JOIN [dbo].[Brand] b ON a.brand_id = b.brand_id
        LEFT JOIN [dbo].[Model] m ON a.model_id = m.model_id
        INNER JOIN [dbo].[VehicleType] vt ON a.vehicle_type_id = vt.vehicle_type_id
        INNER JOIN [dbo].[Color] col ON a.color_id = col.color_id
        INNER JOIN [dbo].[City] c ON a.city_id = c.city_id
        INNER JOIN [dbo].[Province] p ON c.province_id = p.province_id
        WHERE a.phone_number = @UserName2
        ORDER BY a.ad_id;

        -- ============================================
        -- 3. حذف تمام آگهی‌های کاربر دوم
        -- ============================================
        DECLARE @AdCount INT;
        
        -- شمارش تعداد آگهی‌های کاربر دوم
        SELECT @AdCount = COUNT(*) 
        FROM [dbo].[Ad] 
        WHERE [phone_number] = @UserName2;
        
        IF @AdCount > 0
        BEGIN
            PRINT '============================================';
            PRINT N'در حال حذف آگهی‌های کاربر دوم...';
            PRINT N'تعداد آگهی‌های یافت شده: ' + CAST(@AdCount AS NVARCHAR(10));
            PRINT '============================================';
            
            -- حذف از PriceEstimate (ابتدا وابسته‌ترین جدول)
            DELETE FROM [dbo].[PriceEstimate] 
            WHERE [car_id] IN (
                SELECT [ad_id] FROM [dbo].[Car] WHERE [ad_id] IN (
                    SELECT [ad_id] FROM [dbo].[Ad] WHERE [phone_number] = @UserName2
                )
            );
            
            -- حذف از Car
            DELETE FROM [dbo].[Car] 
            WHERE [ad_id] IN (
                SELECT [ad_id] FROM [dbo].[Ad] WHERE [phone_number] = @UserName2
            );
            
            -- حذف از Motor
            DELETE FROM [dbo].[Motor] 
            WHERE [ad_id] IN (
                SELECT [ad_id] FROM [dbo].[Ad] WHERE [phone_number] = @UserName2
            );
            
            -- حذف از HeavyVehicle
            DELETE FROM [dbo].[HeavyVehicle] 
            WHERE [ad_id] IN (
                SELECT [ad_id] FROM [dbo].[Ad] WHERE [phone_number] = @UserName2
            );
            
            -- حذف از CarFinder (جستجوهای ذخیره شده کاربر)
            DELETE FROM [dbo].[CarFinder] 
            WHERE [phone_number] = @UserName2;
            
            -- حذف از Ad
            DELETE FROM [dbo].[Ad] 
            WHERE [phone_number] = @UserName2;
            
            -- حذف کاربر (اختیاری - در صورت تمایل)
            -- DELETE FROM [dbo].[UserAccount] 
            -- WHERE [phone_number] = @UserName2;
            
            PRINT N'آگهی‌های کاربر دوم با موفقیت حذف شدند.';
            PRINT N'تعداد آگهی‌های حذف شده: ' + CAST(@AdCount AS NVARCHAR(10));
        END
        ELSE
        BEGIN
            PRINT '============================================';
            PRINT N'هیچ آگهی برای کاربر دوم یافت نشد.';
            PRINT '============================================';
        END

        -- ============================================
        -- 4. لیست آگهی‌های کاربر اول (بعد از حذف)
        -- ============================================
        PRINT '============================================';
        PRINT N'لیست آگهی‌های کاربر اول (بعد از حذف):';
        PRINT '============================================';
        
        SELECT 
            a.ad_id,
            a.phone_number AS UserName,
            b.brand_name AS Brand,
            ISNULL(m.model_name, N'نامشخص') AS Model,
            YEAR(a.production_year) AS [Year],
            vt.vehicle_type_name AS VehicleType,
            a.cash_price AS Price,
            a.mileage,
            col.color_name AS Color,
            c.city_name AS City,
            p.province_name AS Province,
            CASE WHEN a.is_new = 1 THEN N'صفر' ELSE N'کارکرده' END AS [Status],
            a.description
        FROM [dbo].[Ad] a
        INNER JOIN [dbo].[Brand] b ON a.brand_id = b.brand_id
        LEFT JOIN [dbo].[Model] m ON a.model_id = m.model_id
        INNER JOIN [dbo].[VehicleType] vt ON a.vehicle_type_id = vt.vehicle_type_id
        INNER JOIN [dbo].[Color] col ON a.color_id = col.color_id
        INNER JOIN [dbo].[City] c ON a.city_id = c.city_id
        INNER JOIN [dbo].[Province] p ON c.province_id = p.province_id
        WHERE a.phone_number = @UserName1
        ORDER BY a.ad_id;

        -- ============================================
        -- 5. لیست آگهی‌های کاربر دوم (بعد از حذف - باید خالی باشد)
        -- ============================================
        PRINT '============================================';
        PRINT N'لیست آگهی‌های کاربر دوم (بعد از حذف):';
        PRINT '============================================';
        
        SELECT 
            a.ad_id,
            a.phone_number AS UserName,
            b.brand_name AS Brand,
            ISNULL(m.model_name, N'نامشخص') AS Model,
            YEAR(a.production_year) AS [Year],
            vt.vehicle_type_name AS VehicleType,
            a.cash_price AS Price,
            a.mileage,
            col.color_name AS Color,
            c.city_name AS City,
            p.province_name AS Province,
            CASE WHEN a.is_new = 1 THEN N'صفر' ELSE N'کارکرده' END AS [Status],
            a.description
        FROM [dbo].[Ad] a
        INNER JOIN [dbo].[Brand] b ON a.brand_id = b.brand_id
        LEFT JOIN [dbo].[Model] m ON a.model_id = m.model_id
        INNER JOIN [dbo].[VehicleType] vt ON a.vehicle_type_id = vt.vehicle_type_id
        INNER JOIN [dbo].[Color] col ON a.color_id = col.color_id
        INNER JOIN [dbo].[City] c ON a.city_id = c.city_id
        INNER JOIN [dbo].[Province] p ON c.province_id = p.province_id
        WHERE a.phone_number = @UserName2
        ORDER BY a.ad_id;

        -- ============================================
        -- 6. نمایش خلاصه عملیات
        -- ============================================
        DECLARE @User1Count INT, @User2Count INT;
        
        SELECT @User1Count = COUNT(*) 
        FROM [dbo].[Ad] 
        WHERE [phone_number] = @UserName1;
        
        SELECT @User2Count = COUNT(*) 
        FROM [dbo].[Ad] 
        WHERE [phone_number] = @UserName2;
        
        PRINT '============================================';
        PRINT N'خلاصه عملیات:';
        PRINT N'کاربر اول (' + @UserName1 + N') تعداد آگهی‌ها: ' + CAST(@User1Count AS NVARCHAR(10));
        PRINT N'کاربر دوم (' + @UserName2 + N') تعداد آگهی‌ها: ' + CAST(@User2Count AS NVARCHAR(10));
        PRINT N'تعداد آگهی‌های حذف شده: ' + CAST(@AdCount AS NVARCHAR(10));
        PRINT '============================================';

        COMMIT TRANSACTION;
        
        -- بازگرداندن نتیجه به صورت جدول
        SELECT 
            N'عملیات با موفقیت انجام شد' AS Message,
            @User1Count AS User1_AdCount,
            @User2Count AS User2_AdCount,
            ISNULL(@AdCount, 0) AS Deleted_AdCount;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        -- نمایش خطا
        SELECT 
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_MESSAGE() AS ErrorMessage,
            N'خطا در انجام عملیات' AS Message;
        
        -- نمایش خطا در خروجی
        PRINT '============================================';
        PRINT N'خطا در انجام عملیات:';
        PRINT N'شماره خطا: ' + CAST(ERROR_NUMBER() AS NVARCHAR(10));
        PRINT N'پیام خطا: ' + ERROR_MESSAGE();
        PRINT '============================================';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCarColorAndRerunQuery9]    Script Date: 7/8/2026 10:54:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========== پرسمان ۱۰ ==========
CREATE PROCEDURE [dbo].[sp_UpdateCarColorAndRerunQuery9]
    @OldColorName NVARCHAR(50),
    @NewColorName NVARCHAR(50),
    @ChassisTypeName NVARCHAR(50),
    @FuelTypeName NVARCHAR(50),
    @ProvinceName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE a
        SET a.color_id = (SELECT color_id FROM [dbo].[Color] WHERE color_name = @NewColorName)
        FROM [dbo].[Ad] a
        INNER JOIN [dbo].[Car] car ON a.ad_id = car.ad_id
        INNER JOIN [dbo].[CarType] ct ON car.car_type_id = ct.car_type_id
        INNER JOIN [dbo].[Motor] mot ON a.ad_id = mot.ad_id
        INNER JOIN [dbo].[FuelType] ft ON mot.fuel_type_id = ft.fuel_type_id
        INNER JOIN [dbo].[City] c ON a.city_id = c.city_id
        INNER JOIN [dbo].[Province] p ON c.province_id = p.province_id
        INNER JOIN [dbo].[Color] col ON a.color_id = col.color_id
        WHERE a.vehicle_type_id = 1
            AND col.color_name = @OldColorName
            AND ct.car_type_name = @ChassisTypeName
            AND ft.fuel_type_name = @FuelTypeName
            AND p.province_name = @ProvinceName;

        COMMIT TRANSACTION;

        -- اجرای مجدد پرسمان ۹ (با رنگ جدید به عنوان رنگ حذف‌شده)
        EXEC sp_GetCarsByExcludedColorChassisFuelProvince @NewColorName, @ChassisTypeName, @FuelTypeName, @ProvinceName;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
USE [master]
GO
